@import "../../../variables.scss";

.favorite {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite > input {
  display: none;
}

.favorite > label {
  font-size: 4.4vw;
  color: $yellow-pokedex;
  cursor: pointer;
  position: relative;
}

.favorite > label::before {
  content: "\2605";
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.favorite:hover > label:before {
  opacity: 0.6;
}

.favorite > input:checked ~ label:before {
  opacity: 1;
}

.favorite:hover > input:checked ~ label:before {
  opacity: 0.4;
}
