@import 'variables';

*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: $gray-pokedex;
}

html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.4;
  font-size: 1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.modal-backdrop.show {
  z-index: 1025 !important;
}

.modal-dialog {
  max-width: 760px;
}

.modal-content {
  background-color: $gray-pokedex !important;
  min-height: 60vh;
  color: $dark-gray-pokedex;
  font-size: 16px;
  border-radius: 25px;
  .model-header {
    align-items: baseline !important;
  }
  .modal-title {
    font-size: 30px;
  }
}

/* Custom styles for ngb-pagination */
.pagination-container {
  .custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    [aria-label="Next"].page-link,
    [aria-label="Previous"].page-link {
      background-color: $gray-pokedex !important;
      line-height: 10px;
      font-size: 2.6em !important;
      height: 100%;
      border: none;
      color: $dark-gray-pokedex;
    }

    .page-link {
      color: $white-pokedex;
      background-color: $red-pokedex;
      border-radius: 50%;
      border: 1px solid $white-pokedex;
      margin: 0 3px;
    }

    .page-item.disabled .page-link {
      pointer-events: none;
      cursor: auto;
      opacity: 0.3;
      border-color: $white-pokedex;
    }
    .page-item.active .page-link {
      background-color: $red-pokedex;
      border-color: $yellow-pokedex;
    }

    .page-link:hover {
      color: $white-pokedex;
      background-color: $red-pokedex
    }
  }
}

// custom scroll
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $dark-gray-pokedex;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $white-pokedex;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $yellow-pokedex;
}
